<h1>Home Page</h1> <span>
    <a href="/auth/logout">Logout</a>
</span>


<br />
<div class="container">
       

        <div class="justify-content-center d-flex">

            <div  class="days-wrapper">
               
                {{#each all_days}}
                
                <div id="1" data-value="{{this.weekday}}" class=" days">
                     <br>
                    {{this.weekday}} <br>
                    <p>{{this.counter}}</p>
                </div>
                {{/each}}
                
            </div>

        </div>

    <br>
    <br>
    <center>
        <button class="btn btn-outline-primary btn-sm" id="submit" >Schedule</button>
    </center>

    <hr>
    <h3>Scheduled Days</h3>
    <br>
     {{#each days}}
     <p>{{this.weekday}}</p>
     {{/each}}


</div>

