body {
  padding: 40px;

}

a {
  color: #00B7FF;
}

.days{
  border: 2px rgb(223, 103, 42) solid;
  border-radius: 5px;
  padding:1rem;
  flex: 0 1 140px;
  text-align:center;
  height: 9rem;
  width:9rem;

  color: rgb(53, 53, 53);
  /* text-shadow: 0 0 6px white; */
  

  cursor: pointer;
  user-select: none;
}

.days.selected {
  background-color: lightblue !important;
}

.days-wrapper{
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width:100%
}

.waiter li:nth-child(2n + 1){
  background-color: #92929241;
}

li{
  list-style: none;
  /* margin: 1rem 0rem; */
  padding:0.8rem
}



#details {
  display: none;
}

.days:hover + #details {
  display: block !important;
}

.sufficient{
  background-color: rgba(46, 255, 46, 0.753);
}

.insufficient{
  background-color: rgba(255, 88, 46, 0.753);
}

.surplus{
  background-color: rgba(255, 166, 0, 0.705);
}